<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_init_after">
        <observer name="chintakextensions_productrestrict" instance="ChintakExtensions\ProductRestrict\Observer\CatalogProductInitAfterObserver" />
    </event>
</config>